body {
    background-color: blue;
    color: whitesmoke;
    margin: 10px;
  
}

p {
    margin: auto;

}

.admin {
    width: 450px;
}

.mb-3 {
    background-color: aquamarine;
    color: black;
}

.btn {
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px;
}

.btn a {
    color: whitesmoke;
    text-decoration: none;
}

.form-text {
    font-weight: bold;
    color: black;
}

.form-label {
    font-weight: bold;
}

#skills {
    margin: auto;
}

.card {
    margin: 20px;

}

.exper {
    width: 600px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin:20px;
    margin-left: auto;
    margin-right: auto;
}

h6 {
    font-weight: bolder;
}

.cand-exp {
    text-align: left;
}